html,body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

:root{
    --primary-color:#4458dc;
    --primary-color2:#854fee;
    --title-color:#141313;
    --text-color:#777777;
    --border-color:#201f1f17;;
    --gradient-color:linear-gradient(90deg,#4458dc 0%, #854fee 100%);
    --shadow-color: 0px 10px 30px rgba(118,85,225,0.3);
    --box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);

}

/* general styling */
.max-width{
    width: 75%;
    margin: auto;
    flex-wrap: wrap;
    /* max-width: 1300px; */
    /* padding: 0 80px; */
} 

a{
    text-decoration: none;
}

li{
    list-style: none;
}

/* buttons styling */
.btn{
    padding: .8rem 2.2rem;
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
    text-transform: uppercase;
    position: relative;
    border: 3px solid transparent;
    border-radius: 4px;
}

.btn.primary-btn{
    background: var(--gradient-color);
    background-clip: padding-box;
    color: whitesmoke;
    box-shadow: var(--box-shadow);
    transition: background .6s ease;
}

.btn.primary-btn:hover{
    background: whitesmoke;
    background-clip: padding-box;
    color: var(--title-color);
}

.btn.primary-btn::after,
.btn.secondary-btn::after{
    content: "";
    position: absolute;
    top: -2px; left: -2px;
    bottom: -2px; right: -2px;
    background: var(--gradient-color);
    z-index: -1;
    border-radius: 4px;
}

.btn.secondary-btn{
    background: white;
    background-clip: padding-box;
    transition: background .6s ease;
}

.btn.secondary-btn:hover{
    background: var(--gradient-color);
    color: whitesmoke;
    box-shadow: var(--box-shadow);
}
/* end of buttons styling */

p.text{
    color: var(--text-color);
    font-size: 16px;
    font-weight: 500;
    /* line-height: 25px; */
}

button:focus,
button:active,
button:hover,
.btn:active,
.btn.active{
    outline: 0px !important;
    box-shadow: none !important;
}

.title-h1{
    font-size: 39px;
    font-weight: bold;
    line-height: 30px;
    text-transform: uppercase;
}

h1,h2,
h3,h4,
h5{
    font-family: Exo-Font;
}
/* end of general styling */